# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
env/
myenv/

# Django
db.sqlite3
/media/
staticfiles/
*.log

# VS Code / IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
